@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/*==================== Body =====================*/
$body-bg:								#f1f1f1;
$body-color:							#656565;
$font-family-base:						'Open Sans', sans-serif;
$font-size-base:						0.9rem;

/*==================== Primary Colors ===========*/
$primary:       						#57A1BD;
$secondary:     						#1abc9c;
$success:       						#3CBC5D;
$info:         	 						#3498db;
$warning:       						#e67e22;
$danger:        						#CD5B44;

/*==================== Aside ====================*/
$aside-bg:								#ffffff;

/*==================== DropDown =================*/
$dropdown-link-hover-color:				#ffffff;
$dropdown-link-hover-bg:            	$primary;

/*==================== NavBar ===================*/
$navbar-light-color:					#e5e5e5;
$navbar-light-hover-color:				#f7f7f7;
$navbar-light-active-color:				#ffffff;
$navbar-light-disabled-color:			#d5d5d5;

/*==================== Body =====================*/
/*==================== Body =====================*/